@import url(http://fonts.googleapis.com/css?family=Dosis:400,200,300,500,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,200,700);


/*************************
*******Typography******
**************************/

body {
  font-family: 'Dosis', sans-serif;
  font-size: 17px;
  color: #fff;
}


.btn {
  border-radius: 0;
  font-family: 'Yanone Kaffeesatz','sans-serif';
  font-size: 20px;
  padding: 9px 23px;
}

a {
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

a:focus, 
a:hover {
  text-decoration: none;
  outline: none
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Yanone Kaffeesatz', 'sans-serif';
  font-weight: 300;
  text-transform: uppercase;
}

h2 {
  font-size: 36px
}

.navbar-toggle {
  margin-top: 12px
}

.navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-toggle, 
.navbar-toggle:focus {
  border:1px solid #fff;
  outline: none;
}


/*************************
*******Header CSS******
**************************/

.header-top {
  display: block;
  overflow: hidden;
  padding: 25px;
}

.main-nav {
  width: 100%;
  z-index: 999;
  position: absolute;
}

.main-nav 
.container {
  width: 100%
}

.social-icons a {
  font-size: 18px;
  color: #fff;
  padding-left:20px;  
}

.social-icons .fa-facebook:hover {
  color: #3B5997
}

.social-icons .fa-twitter:hover {
  color:#29C5F6
}

.social-icons .fa-google-plus:hover {
  color:#D13D2F
}

.social-icons .fa-youtube:hover{
  color: #ec5538
}

.navbar-brand {
  height: 90px;
  position: relative;
  width: 297px;
}

.navbar-brand img {
  position: absolute;
  top: -3px;
}

.navbar-right {
  background-color:#1C4A1F;
  padding:0 5px 0 0;
  opacity: .9;
  overflow: none;
  padding-top: ;
}

.navbar-right li a {
  padding: 15px 31px;
  font-size: 1em;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Yanone Kaffeesatz', 'sans-serif';
  font-weight: 300;
}

.navbar-right li a:hover, 
.navbar-right li a:focus,  
.navbar-right .active a {
  background-color: #fff;
  color: #16728f
}

.fixed-menu {
  background-color: #1C4A1F;
  position: fixed;
  top: 0;
}

.fixed-menu .navbar-right {
  padding: 0;
}


.fixed-menu .navbar-right li a {
  font-size: 18px;
  padding: 20px 25px;
  text-shadow:inherit;
}

.fixed-menu .navbar-brand {
  height: 60px;
  margin-top: 0;
  padding: 0;
  margin-bottom: 0;
  width: 125px;
}

.fixed-menu .navbar-brand img {
  height:60px;
  top: 0;
}

.fixed-menu .header-top {
  display: none;
}



/*************************
*******Home CSS******
**************************/

#home {
  position: relative;
  overflow: hidden;
}

#main-slider img {
  width: 100%;
  height:60vh;
}


#main-slider 
.carousel-caption {
  background: none repeat scroll 0 0 #000000;
  bottom: 0; /*14%*/
  float: left;
  left: 0;
  opacity: 0.5;
  padding:10px 60px 35px;
  right: inherit;
  text-transform: uppercase;
  color: #fff;
  text-align: left;
  border-top-right-radius: 4px;
  border-bottom-right-radius:4px; 
}


#main-slider 
.carousel-caption h2 {  
  font-size: 28px;
 
}

#main-slider 
.carousel-caption h4 {
  font-size: 20px;
}

#main-slider 
.carousel-caption a {
  font-size: 20px;
  color: #2da1c5
}

#main-slider 
.carousel-caption a:hover {
  color: #2588a6
}

#main-slider 
.carousel-caption a:hover i {
  margin-left: 35px
}

#main-slider 
.carousel-caption a i {
  margin-left: 15px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#main-slider 
.carousel-indicators li {
  background-color:#1B7B98;
  border: 1px solid #1B7B98;
  display: none;
}

#main-slider 
.carousel-indicators li.active {
  background-color:#fff;
  border: 1px solid #fff;
}

/*xs-slider*/
#xs-main-slider img {
  width: 100%;
}

#xs-main-slider 
.carousel-caption {
  background: none repeat scroll 0 0 #000000;
  bottom: 4%;
  float: left;
  left: 0;
  opacity: 0.9;
  padding:0px 10px 5px;
  right: inherit;
  text-transform: uppercase;
  color: #fff;
  text-align: left;
  border-top-right-radius: 4px;
  border-bottom-right-radius:4px;
}


#xs-main-slider 
.carousel-caption h2 {  
  font-size: 28px;
 
}

#xs-main-slider 
.carousel-caption h4 {
  font-size: 14px;
}

#xs-main-slider 
.carousel-caption a {
  font-size: 12px;
  color: #2da1c5
}

#xs-main-slider 
.carousel-caption a:hover {
  color: #2588a6
}

#xs-main-slider 
.carousel-caption a:hover i {
  margin-left: 5px
}

#xs-main-slider 
.carousel-caption a i {
  margin-left: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/*************************
*******About CSS**********
**************************/

#about {
  padding-top: 65px; 
  background-color:;  
  position: relative;  
  width: 100%;
  display: flex;
  color: #005;
}

.guitar2 {
  top: 0;
  width: 50%;
}

.guitar2 img {
  padding-top: 3%;
}

.about-content {
  width: auto;
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4px 70px 110px;
}


#about h2 {
  margin-bottom: 23px;
}

.about-content p {
  font-size: 17px;
  font-family: 'Dosis',sans-serif;
}

#about .btn-primary {
  background-color: #137c61;
  color: #fff;
  text-transform: capitalize;
  border: none;
  margin-top: 28px;
}

#about .btn-primary:hover {
  background-color: #126d55
}

/*************************
*******pharmacies-and-clinics CSS**********
**************************/

#pharmacies-and-clinics {
  padding-top: 65px; 
  background-color: #056;  
  position: relative;  
  width: 100%;
  display: flex;
  margin-bottom: 2%;
}


#pharmacies-and-clinics h2 {
  margin-bottom: 23px;
}

.pharmacies-and-clinics-content p {
  font-size: 17px;
  font-family: 'Dosis',sans-serif;
}

#pharmacies-and-clinics .btn-primary {
  background-color: #137c61;
  color: #fff;
  text-transform: capitalize;
  border: none;
  margin-top: 28px;
}

#pharmacies-and-clinics .btn-primary:hover {
  background-color: #126d55
}

/*style*/
.top-30{
  margin-top:30px;
}
.top-20{
  margin-top:20px;
}
.top-10{
  margin-top:10px;
}

/*************************
******Footer CSS****
**************************/

#footer {
  background-color: #1C4A1F;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
  font-size: 20px;
  padding: 35px 0;
}

#footer a {
  color:#f7ab24
}

#footer a:hover {
  color:#1B7B98
}


.btn-red{
  background-color: ;
}

/*************************
*******health-information CSS**********
**************************/

#health-information {
  padding-top: 65px; 
  background-color: ;  
  position: relative;  
  width: 100%;
  display: flex;
  margin-bottom: 2%;
}

#health-information h2 {
  margin-bottom: 23px;
  color: #B80201;
}

#health-information h3 {
  margin-top: 23px;
  color: #1C4A1F;
  margin-bottom: 23px;
}

#health-information h4 {
  margin-bottom: 17px;
  color: #B80201;
  font-weight: 500;
}

.health-information-content p {
  font-size: 17px;
  font-family: 'Dosis',sans-serif;
  color:#333338;
}

#health-information .btn-primary:hover {
  background-color: #126d55
}

/*************************
*******reach-us CSS**********
**************************/

#reach-us {
  padding-top: 5px; 
  background:url("http://www.pixeden.com/media/k2/galleries/165/003-subtle-light-pattern-background-texture-vol5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  padding-bottom: 15px;
  margin-bottom: 2%;
}

#reach-us h2 {
  margin-bottom: 18px;
  color: #B80201;
}

#reach-us h3 {
  margin-top: 18px;
  color: #1C4A1F;
  margin-bottom: 23px;
}

#reach-us h4 {
  margin-bottom: 11px;
  color: #B80201;
  font-weight: 500;
}

.reach-us-content p {
  font-size: 17px;
  font-family: 'Dosis',sans-serif;
  color:#333338;
}

.reach-us-content span {
  font-size: 17px;
  font-family: 'Dosis',sans-serif;
  color:#333338;
}

#reach-us .btn-primary:hover {
  background-color: #126d55
}

/*
* carousel fade
*/
.carousel-fade .carousel-inner .item {
  opacity: .3;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}