.top-head{
	height: 40%;
}
.menu{
	direction: rtl;
	margin-top: 100px;
}
.top-30{
	margin-top: 30px;
}
.top-20{
	margin-top: 20px;
}
.footer{
	bottom: 0;
}
.map{
	margin-left:;
}
.content{
	 margin-left: 3%;
	 margin-right: 3%;
}